In [2]:
## Imports
# Scrapy
import scrapy
from scrapy.crawler import CrawlerProcess
from scrapy import Request, Selector
import timer
import time

#Selenium
from selenium.webdriver import ChromeOptions
from selenium.webdriver.common.by import By
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from webdriver_manager.chrome import ChromeDriverManager

import tqdm

In [3]:
# load driver
# options = ChromeOptions()
# options.headless = True
driver = webdriver.Chrome(ChromeDriverManager().install())

[WDM] - Downloading: 100%|████████████████████████████████████████████████████████| 6.78M/6.78M [00:00<00:00, 22.2MB/s]
C:\Users\ANUDEE~1\AppData\Local\Temp/ipykernel_688/2239813902.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

## Singapore Airlines Reviews

In [4]:
# direct driver to tripadvisor webpage for airline
url = r'https://www.tripadvisor.co.uk/Airline_Review-d8729151-Reviews-Singapore-Airlines'
driver.get(url)
time.sleep(3)

In [5]:
## Click on 'I accept for cookies'
xpath_cookies_accept = r'//button[@id="onetrust-accept-btn-handler"]'
click = driver.find_element(By.XPATH,xpath_cookies_accept)
click.click()

In [6]:
## Click on read more
driver.execute_script("window.scrollTo(0, 1080)") 
xpath_readmore =r'//span[@class="Ignyf _S Z"]'
# xpath_readmore = r'/html/body/div[2]/div/div/div[5]/div/div/div/div[2]/div[1]/div[2]/div/div[3]/div[2]/div[3]/div[1]/div[2]/div/span[1]'
driver.find_element(By.XPATH,xpath_readmore).click()

In [7]:
# Create list to store all the html text of each page
selenium_response_text = []
# page_text stores the page html
page_text = driver.page_source
# append page text to selenium_response_text
selenium_response_text.append(page_text)
# click on next page
xpath_next_page = r'/html/body/div[2]/div/div/div[5]/div/div/div[1]/div[2]/div[1]/div[2]/div/div[8]/div/a'
driver.find_element(By.XPATH, xpath_next_page).click()

In [8]:
for i in range(0,200):
    print(i)
    ## Click on read more
    driver.execute_script("window.scrollTo(0, 1080)") 
    xpath_readmore = r'//span[@class="Ignyf _S Z"]'
    driver.find_element(By.XPATH,xpath_readmore).click()
    page_text = driver.page_source
    selenium_response_text.append(page_text)
    xpath_next_page = r'/html/body/div[2]/div/div/div[5]/div/div/div[1]/div[2]/div[1]/div[2]/div/div[8]/div/a[2]'
    driver.find_element(By.XPATH, xpath_next_page).click()
    time.sleep(3)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199

In [9]:
driver.close()

In [10]:
def get_bubbles(entry):
    ratings_list = []
    for item in entry:
        ratings_list.append(item[37:39])
    return ratings_list

In [11]:
# extract reviews and store into list
singapore_review = []
ratings_list = []
fly_class = []
date_list = []
data = {}
for text in selenium_response_text:
    new_selector = Selector(text=text)
    for t in new_selector.xpath('//q[@class="QewHA H4 _a"]/span'):
        singapore_review.append(t.xpath('string(.)').extract()[0])
    fly_class.append(new_selector.xpath('//div[@class="dmRSR n R2 S2"]//text()').extract()[2::3])
    ratings_list.append(get_bubbles(new_selector.xpath('//div[contains(@class,"Hlmiy F1")]/span').extract()))
    date_list.append(new_selector.xpath('//span[@class="teHYY _R Me S4 H3"]/text()').extract())

In [20]:
for item,index in zip(date_list,range(len(date_list))):
    if len(item) < 5:
        item.append(item[-1])

In [22]:
def flatten(l):
    return [item for sublist in l for item in sublist]

In [23]:
date_list = flatten(date_list)
fly_class = flatten(fly_class)
ratings_list = flatten(ratings_list)

In [26]:
import pandas as pd

In [27]:
data = {"date":date_list,"class":fly_class,"rating":ratings_list,"review":singapore_review}

In [30]:
df_singapore = pd.DataFrame(data)

In [ ]:
df_singapore.to_csv('singapore_data.csv',header=True)

## Qantas Reviews

In [31]:
# load driver
# options = ChromeOptions()
# options.headless = True
driver = webdriver.Chrome(ChromeDriverManager().install())

C:\Users\ANUDEE~1\AppData\Local\Temp/ipykernel_688/2239813902.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

In [32]:
# direct driver to tripadvisor webpage for airline
url = r'https://www.tripadvisor.co.uk/Airline_Review-d8729133-Reviews-Qantas'
driver.get(url)
time.sleep(3)

In [33]:
## Click on 'I accept for cookies'
xpath_cookies_accept = r'//button[@id="onetrust-accept-btn-handler"]'
click = driver.find_element(By.XPATH,xpath_cookies_accept)
click.click()

In [34]:
## Click on read more
driver.execute_script("window.scrollTo(0, 1080)") 
xpath_readmore =r'//span[@class="Ignyf _S Z"]'
# xpath_readmore = r'/html/body/div[2]/div/div/div[5]/div/div/div/div[2]/div[1]/div[2]/div/div[3]/div[2]/div[3]/div[1]/div[2]/div/span[1]'
driver.find_element(By.XPATH,xpath_readmore).click()

In [35]:
# Create list to store all the html text of each page
selenium_response_text = []
# page_text stores the page html
page_text = driver.page_source
# append page text to selenium_response_text
selenium_response_text.append(page_text)
# click on next page
xpath_next_page = r'/html/body/div[2]/div/div/div[5]/div/div/div[1]/div[2]/div[1]/div[2]/div/div[8]/div/a'
driver.find_element(By.XPATH, xpath_next_page).click()

In [36]:
for i in range(0,200):
    print(i)
    ## Click on read more
    driver.execute_script("window.scrollTo(0, 1080)") 
    xpath_readmore = r'//span[@class="Ignyf _S Z"]'
    driver.find_element(By.XPATH,xpath_readmore).click()
    page_text = driver.page_source
    selenium_response_text.append(page_text)
    xpath_next_page = r'/html/body/div[2]/div/div/div[5]/div/div/div[1]/div[2]/div[1]/div[2]/div/div[8]/div/a[2]'
    driver.find_element(By.XPATH, xpath_next_page).click()
    time.sleep(3)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199

In [37]:
driver.close()

In [100]:
# extract reviews and store into list
qantas_review = []
ratings_list = []
fly_class = []
date_list = []
data = {}
for text in selenium_response_text:
    new_selector = Selector(text=text)
    for t in new_selector.xpath('//q[@class="QewHA H4 _a"]/span'):
        qantas_review.append(t.xpath('string(.)').extract()[0])
    fly_class.append(new_selector.xpath('//div[@class="dmRSR n R2 S2"]//text()').extract()[2::3])
    ratings_list.append(get_bubbles(new_selector.xpath('//div[contains(@class,"Hlmiy F1")]/span').extract()))
    date_list.append(new_selector.xpath('//span[@class="teHYY _R Me S4 H3"]/text()').extract())

In [102]:
for item,index in zip(date_list,range(len(date_list))):
    if len(item) == 4:
        item.append(item[-1])
    if len(item) == 3:
        print(item)
        item.append(item[-1])
        item.append(item[-1])
        print(item)
    if len(item) == 2:
        print(item)
        item.append(item[-1])
        item.append(item[-1])
        item.append(item[-1])
        print(item)

[' February 2021', ' May 2020', ' March 2021']
[' February 2021', ' May 2020', ' March 2021', ' March 2021', ' March 2021']
[' October 2020', ' January 2020', ' March 2020']
[' October 2020', ' January 2020', ' March 2020', ' March 2020', ' March 2020']
[' March 2020', ' March 2020']
[' March 2020', ' March 2020', ' March 2020', ' March 2020', ' March 2020']

In [108]:
date_list = flatten(date_list)
fly_class = flatten(fly_class)
ratings_list = flatten(ratings_list)

In [118]:
data = {"date":date_list,"class":fly_class,"rating":ratings_list,"review":qantas_review}

In [119]:
df_qantas = pd.DataFrame(data)

In [120]:
## Save Dataframes as csv
df_qantas.to_csv('qantas_data.csv',header=True)

In [121]:
df_singapore

,date,class,rating,review
0,February 2023,Economy,10,I have never experienced such poor call centre...
1,March 2023,Business Class,10,Rude of indifferent ground staff. Use really d...
2,February 2023,Economy,20,My flight on February 18th shows how bad servi...
3,January 2023,Business Class,10,What a shame! This is what we got when we book...
4,February 2023,Economy,10,Absolutely appalled by what is supposedly the ...
...,...,...,...,...
1000,February 2020,Economy,20,Having had 2 fabulous SA flights on my Maldive...
1001,June 2019,Premium Economy,50,This was an upgrade we considered for a long f...
1002,February 2020,Economy,50,Having had a ghastly flight from Changi to the...
1003,February 2020,Economy,50,Brilliant flight from London to Changi. Nice ...
1004,October 2019,Economy,30,I normally experience nothing but excellence f...

In [122]:
df_qantas

,date,class,rating,review
0,March 2023,Economy,30,"Disappointed with cabin crew attitude, their b..."
1,March 2023,Economy,20,Our delayed international flight resulted in u...
2,February 2023,Economy,10,A simple non-stop flight from AKL to SYD resul...
3,March 2023,Economy,50,Customer service is an art. It comes from the ...
4,November 2022,Business Class,10,So we tried to book business class from Brisba...
...,...,...,...,...
1000,March 2020,Economy,40,Plane had low numbers so everybody had a seat ...
1001,September 2019,Economy,50,It's Qantas there is no reason to complain abo...
1002,March 2020,Business Class,50,What a fantastic way to go to the states it's ...
1003,March 2020,Economy,50,Took a flight from Hobart to Melbourne for bus...
1004,March 2020,Economy,30,Ii usually fly Qantas ans so do several staff ...